<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nx.nx6313.tiaoma">

    <!--&lt;!&ndash;开启相机&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--&lt;!&ndash;允许访问振动设备&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <!--&lt;!&ndash;控制摄像头&ndash;&gt;-->
    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--&lt;!&ndash;相机自动聚焦&ndash;&gt;-->
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanActivity"></activity>
    </application>

</manifest>